{% extends "maternal_app/layouts/base.html" %}
{% block title %} {{title}} {% endblock %}

{% block custom_css %}
{% endblock %}



{% block content %}
<div class="container-fluid" my-4  >
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/mt.png" class="d-block w-100" alt="..." style="max-height:20vh;">
          </div>
          <div class="carousel-item">
            <img src="/static/img/mt (2).png" class="d-block w-100" alt="..." style="max-height:20vh;">
          </div>
          <div class="carousel-item">
            <img src="/static/img/mt (3).png" class="d-block w-100" alt="..." style="max-height:20vh;">
          </div>
          <div class="carousel-item">
            <img src="/static/img/mm (2).png" class="d-block w-100" alt="..." style="max-height:20vh;">
          </div>
          <div class="carousel-item">
            <img src="/static/img/mm (2).jpg" class="d-block w-100" alt="..." style="max-height:20vh;">
          </div>
          <div class="carousel-item">
            <img src="/static/img/mm (1).png" class="d-block w-100" alt="..." style="max-height:20vh;">
          </div>
          <div class="carousel-item">
            <img src="/static/img/mm (1).jpg" class="d-block w-100" alt="..." style="max-height:20vh;">
          </div>
          <div class="carousel-item">
            <img src="/static/img/mm (1).jfif" class="d-block w-100" alt="..." style="max-height:20vh;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="container-fluid mt-3" >
    <div class="row">
        <div class="col-md-9" id="sidebar"><h3>Maternal Mortality Model Specification and News</h3>
            <div class="row">
                <div class="col-md-3">
                  <dl>
                    <dt>Age Group</dt>
                    <dd>- Age group of patient.Range (10-15):0,(15-20):1,(20-25):2,(25-30):3,(30-35):4,(35-40):5,(40-45):5,(45-50):6,(50-55):7,(55-60):8,(60-65):9,(65-70):10,(70-):11. i.e for age of <mark>27</mark> pick <mark>3</mark> as in input feature.</dd>
                    <dt>Systolic Blood Pressure</dt>
                    <dd>- Measured blood pressure of patient. i.e blood pressure value <mark>120/80 mmHg</mark> use <mark>120</mark> as an input feature.</dd>
                    <dt>Diastolic Blood Pressure</dt>
                    <dd>- Measured blood pressure of patient. i.e blood pressure value <mark>120/80 mmHg</mark> use <mark>80</mark> as an diastolic blood pressure input.</dd>
                    <dt>Blood Sugar</dt>
                    <dd>- Blood sugar level of patient. When it was measured <mark>140 mg/dL (7.8 mmol/L)</mark> use <mark>7.8</mark> as an input.</dd>
                    <dt>Body Temperature</dt>
                    <dd>- Like body temperature of <mark>98.6°F (37°C)</mark> use <mark>98.6</mark> as body temeprature input.</dd>
                    <dt>Heart Rate</dt>
                    <dd>- Measured heart rate of patient when patent have heart rate of <mark>60 </mark>beats per minute use<mark> 60</mark> as an input feature.</dd>
                  </dl>
                </div>
                <div class="col-md-9">
                    {% for i in posts %}
                    <h5>{{i.create_at|date:'M-d-Y'}}</h5>
                    <a href="{% url 'news_portal' i.id %}"><h4>{{i.title}}</h4></a>
                    <p>{{i.intro}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3" id="predict">
           <h3>Maternal Health Prediction</h3>
           <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <input type="submit" value="Check" class="'btn btn-primary">
            <a class="btn btn-link" href="{% url 'show'%}" role="button">Old Patient Data </a>

           </form>

           {% if predict %}
           <h6>Maternal mortality is predicted as <strong>{{predict}}</strong></h6>
            {% endif %}
          
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @copyright2022
        </div>

    </div>
</div>

{% endblock %}